$font-stack: 'Open Sans', Arial, sans-serif;
$font-stack-title: 'Roboto', Arial, sans-serif;
$font-stack-title-expand: 'Helvetica Neue', Helvetica, Arial, sans-serif;



$break-xx-small: 360px;
$break-x-small: 480px;
$break-small: 768px;
$break-medium: 992px;
$break-large: 1200px;
$break-x-large: 1560px;
$radius: 5px;
$asset-path: "../img";

$mc-donald-yellow: #ff6b00;
$light-yellow: #ffdb66;
$ip-blue: #257cc4;
$light-blue: #339AF0;


$primary-theme-color: $mc-donald-yellow;
$primary-theme-light-color: $light-yellow;
$primary-theme-dark-color: #ffb901;


$primary-font-color: #666;
$primary-title-color: #333;

//maroon
$alert-color: #d01f4c;

//blue
$secondary-theme-color: #086788;
$secondary-theme-color-hover: #187798;


$success-color: #00C851;
$danger-color: #ff4444;
$warn-color: #ffbb33;
$info-color: #33b5e5;

$disabled-color: #dadee0;